# Compiled sibs files
sibs-build/
compile_commands.json
tests/sibs-build/
tests/compile_commands.json

**/xdg-output-unstable-v1-client-protocol.h
**/xdg-output-unstable-v1-protocol.c

**/kde-output-device-v2-client-protocol.h
**/kde-output-device-v2-protocol.c

.clangd/
.cache/
.vscode/

build/
debug-build/

*.o
gpu-screen-recorder
gsr-kms-server

*.mp4
*.flv
*.mkv
*.mov
*.webm
*.ts
*.jpg
*.jpeg
*.png
